version: "3.9"

services:
  web:
    build:
      context: ./web
    container_name: web_server
    ports:
      - "8080:80"
    restart: unless-stopped

  redis:
    build:
      context: ./redis
    container_name: redis_db
    ports:
      - "6379:6379"
    restart: unless-stopped
