services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
  wordpress:
    build: ./requirements/wordpress
    container_name: wp-php
    restart: unless-stopped
