services:
  nginx:
    build: ./requirements/nginx
    image: nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./web:/var/www/html
  wordpress:
    build: ./requirements/wordpress
    image: wordpress
    container_name: wp-php
    restart: unless-stopped
    volumes:
      - ./web:/var/www/html
