server {
    listen 443 ssl;
    server_name ${MONITOR_DOMAIN};

    ssl_certificate     /etc/nginx/certs/cert.crt;
    ssl_certificate_key /etc/nginx/certs/cert.key;

    location / {
        auth_basic "Monitoring";
        auth_basic_user_file /etc/nginx/auth/monitor.htpasswd;

        stub_status on;

        access_log off;
        allow all;
    }
}
